<div class="container">
	<% if user_signed_in? %>
	   <% if current_user.email == "jerrome@example.com"%>

			<h1>Editing Salon Employee</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @staff %> |
			<%= link_to 'Back', staffs_path %>
	<% end %>
	<% end %>
</div>