<% if user_signed_in? %>
   <% if current_user.email == "jerrome@example.com"%>
		<h1>Editing Service</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @service %> |
		<%= link_to 'Back', services_path %>
<% end %>
<% end %>