<div class="background_home">
	<div class="wrapper_wide">
	

	</div>
	<h1> Lorem Impsumm Dimsum is the Best impsum.<br> Lorem askap kerpom martoll</h1>
	<% if user_signed_in? %>

	<% else %>
		<%=link_to "Login", new_user_session_path, class: "button button_highlight"%>
		<%=link_to "Register", new_user_registration_path, class: "button button_white"%>
	<% end %>
</div>