// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #FFFFFF;
$highlight: #2C6086;
$dark: #22292e;

.wrapper_wide{ 
	width: 90%;
	margin: 0 auto;
}

.wrapper{ 
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny{ 
	width: 60%;
	margin: 0 auto;
}

.cf:before, .cf:after{ 
	content: "";
	display: table;

}

.cf:after{ 
	clear: both;
}

.button { 
	color: $white;
	text-decoration: none !important;
	font-size: 1 rem;
	padding: 1rem 2rem;
	border-radius: 2rem !important;
	outline: none;
	border: none;
	display: inline-block;
	min-width: 20rem !important;
	margin: 5rem 2.5% 0 2.5%;
	&:hover { 
		color:white;
	}
	
}

.button_highlight { 
	background: $highlight;
	color: white;
	transition: background .4s ease-in-out;
	&:hover { 
		background: darken($highlight, 7.5%);
	}
}

.button_white { 
	background: $dark;
	color: white;
	transition: background .4s ease-in-out;
	&:hover { 
		background: darken($dark, 7.5%);
	}
}


#background-home { 
	background-image: url(home_background.jpg) !important;
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align:center;
	header{ 
		padding: 3rem 0;
		#logo{ 
			 float: left;
			 text-transform: uppercase;
			 font-weight: 700;
			 color: $white;
			 text-decoration: none;
		}
		nav{ 
			float: right;
			ul{ 
			list-style: none;
			margin: 0;
			li{ 
				display: inline;
				margin-left: 2.5rem;
				}
			a{ 
				text-decoration: none;
				color: $white		;
				}
			}

		}
	}
	h1 { 
		color: $white;
		font-size: 3.5rem;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 7rem 0 2rem 0;
	}
}

