<footer class="footer-section ">
  <div class="row">
        
      <div class="soc-net social-links">
    </a>
          </div>
    
    <center><div class="copyrights">
       ©  <%= Time.now.year %> <%= link_to "HEADS", '#' %>.All Rights Reserved    </div></center>
  </div>
</footer><!-- .footer-section -->
    <!--Footer-->

