

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <header class="header clearfix">
        <div class="red row hundred">
          <div class="col-md-4 col-xs-12 black hundred">
            <div class="middle">
              <div class="mid">

                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>

                  <a href="index.html"><img alt="HEADS" id="logo" class="img-responsive" src="images/Headstitlesmall.png"></a>
                </a>
              </div>
            </div>
          </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="About.html">About</a></li>

            <li><a href="Contact.html">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
